<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ポケモンガチャ</title>
</head>
<body>

<h1>ポケモンガチャ</h1>

<h2 id="name"></h2>
<img id="pokemon" width="250">

<br><br>

<button onclick="loadPokemon()">
    ガチャを回す
</button>

<script>
function loadPokemon() {

    const id = Math.floor(Math.random() * 1025) + 1;

    fetch(`https://pokeapi.co/api/v2/pokemon/${id}`)
        .then(res => res.json())
        .then(data => {

            document.getElementById("name").textContent =
                data.name;

            document.getElementById("pokemon").src =
                data.sprites.front_default;
        });
}

loadPokemon();
</script>

</body>
</html>